<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email unless user.email == "admin@admin.com" %></td>
    <td><%= link_to 'Show', user unless user.email == "admin@admin.com" %></td>
    <% if !current_user.nil? && current_user.email == "admin@admin.com" %>
      <td><%= link_to 'Edit', edit_user_path(user) unless user.email == "admin@admin.com"%></td>
      <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete unless user.email == "admin@admin.com" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
