<%= resources :games %>
<table>
	
</table>
<table>
	<tr>
		<td><%= link_to "SomeGameNameA", 'gpage' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameB", 'gpage' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameC", 'gpage' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameD", 'gpage' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameE", 'gpage' %></td>
	</tr>
</table>