<table>
	<tr>
		<td><%= link_to "SomeGameNameA", '#' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameB", '#' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameC", '#' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameD", '#' %></td>
	</tr>
	<tr>
		<td><%= link_to "SomeGameNameE", '#' %></td>
	</tr>
</table>
