<div id="game-info">
	<div class="game-page-title">Game Title</div>
	<%= image_tag("none.jpg", :alt => "No Image", :class => "game-page-image") %>
	<div class="game-page-description">Some description about the game or whatever.</div>
	<div class="game-page-reviews">
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
		<%= link_to "Some title of review", '#' %> Username<br/>
	</div>
</div>