<div id="main-top"> Just Out!
   <div id="main-top-first" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating"><span class="rating-font" >10.0</span>/10</div>
   </div>
   <div id="main-top-second" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating"><span class="rating-font" >10.0</span>/10</div>
   </div>
   <div id="main-top-third" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating"><span class="rating-font" >10.0</span>/10</div>
   </div>
   <div id="main-top-fourth" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating"><span class="rating-font" >10.0</span>/10</div>
   </div>
   <div id="main-top-fifth" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating"><span class="rating-font" >10.0</span>/10</div>
   </div>
</div>
<div id="main-bot"> Upcoming Releases!
   <div id="main-bot-first" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating">10/27</div>
   </div>
   <div id="main-bot-second" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating">10/28</div>
   </div>
   <div id="main-bot-third" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating">10/29</div>
   </div>
   <div id="main-bot-fourth" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating">10/30</div>
   </div>
   <div id="main-bot-fifth" class="main-details"><a href="" title="Mass Effect 3">Mass Effect 3</a>
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "main-image"), '#' %>
      <div class="main-rating">10/31</div>
   </div>
</div>
<div id="sidebar">Top Rated!
   <div id="side-first" class="sidebar-details">
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "sidebar-image"), '#' %>
      <div class="sidebar-rating"><span class="rating-font" >10.0</span>/10</div>
      <div class="sidebar-name"><a href="" title="Mass Effect 3">Mass Effect 3</a></div>
   </div>
   <div id="side-second" class="sidebar-details">
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "sidebar-image"), '#' %>
      <div class="sidebar-rating"><span class="rating-font" >9.9</span>/10</div>
      <div class="sidebar-name"><a href="" title="Mass Effect 3">Mass Effect 3</a></div>
   </div>
   <div id="side-third" class="sidebar-details">
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "sidebar-image"), '#' %>
      <div class="sidebar-rating"><span class="rating-font" >9.8</span>/10</div>
      <div class="sidebar-name"><a href="" title="Mass Effect 3">Mass Effect 3</a></div>
   </div>
   <div id="side-fourth" class="sidebar-details">
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "sidebar-image"), '#' %>
      <div class="sidebar-rating"><span class="rating-font" >9.7</span>/10</div>
      <div class="sidebar-name"><a href="" title="Mass Effect 3">Mass Effect 3</a></div>
   </div>
   <div id="side-fifth" class="sidebar-details">
   <%= link_to image_tag("none.jpg", :alt => "no image", :class => "sidebar-image"), '#' %>
      <div class="sidebar-rating"><span class="rating-font" >9.6</span>/10</div>
      <div class="sidebar-name"><a href="" title="Mass Effect 3">Mass Effect 3</a></div>
   </div>
</div>