<div id="banner">
   <%= link_to image_tag("logo.png", :id => "logo", :alt => "Missing Logo"), :root %>
   <div id="users"><%= link_to "Users", '/users' %></div>
   <div id="search">
   <%= form_tag("/search", :method => "get") do %>
     <%= text_field_tag(:q) %>
     <%= submit_tag("Search") %>
   <% end %>
   </div>
   <div id="login">
      <%= link_to "Register", "users/new" %>
      <%=
      if current_user.nil?
      	link_to "Sign In", "/signin"
      else
        link_to "Sign Out", "/signout"
      end
      %>
   </div>
</div>